* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    background-color: rgb(0, 80, 145);
    display: flex;
    height: 85px;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-container h1 {
    color: white;
    font-size: 40px;
}

.left-panel {
    display: flex;
    height: 100%;
    width: 350px;
    justify-content: center;
}

.search-form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border:black;
    border: solid;
    border-width: 2px;
    border-radius: 4px;
    padding: 10px;
    
}

.search-title {
    font-size: 26px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.search-form input {
    width: 260px;
    height: 30px;
    border-radius: 4px;
    
}

.search-form button {
    height: 30px;
    cursor: pointer;
    border-radius: 4px;
}

.info-border {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 4px;
    padding: 20px;
    width: 700px;
}

.current-container {
    width: 795px;
    height: 270px;
    display: flex;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.weather-list {
    list-style-type: none;
   }

.days-panel {
    width: 850px;
    height: 270px;
    display: flex;
    margin: 30px;
    
}

.forecast-panels {
    width: 1000px;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    
}

.flex-section {
    display:flex;
    flex-direction: row;
    
   
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    gap: 45px;
}

.card-div {
    background-color: rgb(64, 75, 121);
    padding: 12px;
    width: 150px;
    border-radius: 5px;

}



.li-class {
    list-style: none;
    margin-bottom: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
.bold-class {
    font-weight: bold;
    list-style: none;
    margin-bottom: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
    padding-bottom: 10px;
}


